        </main>

        <footer class="footer">
                <h4> Made By d7meDev <%= new Date().getFullYear() %></h4>
        </footer>

     
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="scripts/menu-button.js"></script>

    </body>

</html>