<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/style.css">
    <title>MyBlog</title>
</head>

<body>
    <header>
    <header id="nav">

        <h1 id="nav-logo"><a href="/">My Blog</a></h1>

        <ul id="nav-links">

            <li><a href="/">Home</a></li>
            <li><a href="/NewBlog">New Blog</a></li>
            <li><a href="/EditBlogs">Edit Blogs</a></li>
        </ul>

        <button id="menu-button" style="border: none; background-color: transparent;">
            <img src="images/menu.svg" alt="hamburger menu svg">
        </button>


    </header>

    <nav  class="hide">

            <li><a href="/">Home</a></li>
            <li><a href="/NewBlog">New Blog</a></li>
            <li><a href="/EditBlogs">Edit Blogs</a></li>

    </nav>

    </header>

    <main>